ACOUSTID_API_KEY=your_acoustid_api_key_here
CONTACT_EMAIL=your@email.com
CAPITALIZE_WORDS=remix,mix,extended,edit,radio,version,vocal,instrumental,acoustic,original,club,dub,reprise,remaster,remastered,bonus,live
LASTFM_API_KEY=your_lastfm_api_key_here
DISCOGS_TOKEN=your_discogs_token_here
